*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

body{
    height: 100vh;
    background-color: rgb(37, 37, 37);
}
.home{
    width: 100%;
    padding-bottom: 150px;
    position: relative;
}
.bg{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .5;
    height: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(5px);
}

.logo{
    font-size: 25px;
    cursor: pointer;
}

ul{
  display: flex;
  gap: 20px;  
  align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

a:hover{
    color: rgb(18, 209, 129);
}

.login{
    padding: 5px 35px;
    background-color: transparent;
    border: 2px solid rgb(18, 209, 129);
    border-radius: 20px;
    cursor: pointer;
}

.login:active{
    color: black;
    background-color:rgb(18, 209, 129) ;
}
.text{
margin: 150px 10% 0;
}

.description{
    font-weight: lighter;
    margin-bottom: 50px;
}

.text-p{
    font-size: 15px;
    color:rgb(27 198 126);
}

.head-l{
    font-size: 50px;
    margin: 20px 0;
    
}

.sign-in{
    z-index: 2000;
    box-shadow: 0  5px 10px 0 rgb(0, 0, 0);
    width: 40%;
    position: absolute;
    top: 15%;
    left: 30%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 2% 2% 5%;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

input{
    padding: 7px 0 7px 20px;
    width: 100%;
    margin: 10px auto ;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-size: 15px;
}
.pos{
    position: relative;
    margin-top: 20px;
}

.icon{
    width: 20px;
    position: absolute;
    right: 3%;
    top: 49%;
}

.Forget{
    text-decoration: underline;
}

.sub{
    width: 60%;
    margin: 20px 20% 30px;
    background-color: transparent;
    padding: 8px 0;
    color: white;
    border: 2px solid rgb(18, 209, 129);
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}
.sub:active{
    color: black;
    background-color: rgb(18, 209, 129);
}

label{
    font-size: 18px;
}