*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

body{
    height: 100vh;
    background-color: rgb(230, 230, 230);
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    background-image: linear-gradient(to left, #03915b, #0f4e34);
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgb(18, 209, 129);
}

.logo{
    font-size: 25px;
    cursor: pointer;
}

ul{
  display: flex;
  gap: 20px;  
  align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

a:hover{
    color: rgb(18, 209, 129);
}

.login{
    padding: 5px 35px;
    background-color: transparent;
    border: 2px solid rgb(18, 209, 129);
    border-radius: 20px;
    cursor: pointer;
}

.login:active{
    color: black;
    background-color:rgb(18, 209, 129) ;
}

/* ------------------------------ */

/* courses bage */

.grid{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: 100%;
}

.sideBar{
    background-image: linear-gradient(to bottom, #03915b, #0f4e34);
    width: 25%;
    height: 100%;
    border-right: 2px solid rgb(18, 209, 129) ;
    position: fixed;
    top: 0;
    z-index: -1;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px;
        
}