* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "system-ui";
  color: white;
}
p,
h1 {
  padding: 0 !important;
  margin: 0 !important;
}
body {
}
.bg-section {
  height: 100vh;
  background-image: url(../imgs/istockphoto-1931634876-612x612.jpg);
  background-color: #0000008a;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 25px;
  transition: 0.3s ease;
}
.logo-container {
  color: white !important;
  & span {
    color: #1bc67e !important;
  }
}
.animateHeader {
  background-color: white;
  .logo-container * {
    color: #1bc67e !important;
  }
  & a {
    color: #1bc67e;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    & li {
      list-style: none;
      & a {
        text-decoration: none;
        font-weight: bolder;
      }
    }
  }
}
.nav-link {
  color: white;
  transition: 0.3s ease;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transform-origin: center;
  margin-top: 2px;
  background-color: #1bc67e;
  transition: 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover {
  color: #1bc67e !important;
}
a {
  text-decoration: none;
}
.login {
  padding: 5px 35px;
  border: 2px solid rgb(18, 209, 129);
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login:active {
  color: black;
  background-color: rgb(18, 209, 129);
}
.main {
  /* width: 75%; */
  /* padding: 150px 0; */
}

.main-wrapper {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.description {
  font-weight: lighter;
  margin-bottom: 50px;
  color: rgb(212, 212, 212);
}

.text-p {
  font-size: 15px;
  color: rgb(27 198 126);
}

.head-l {
  font-size: 50px;
  margin: 20px 0;
}

.standVideos {
  width: 100%;
  height: 200px;
  border: 3px solid black;
  background-color: rgb(0, 0, 0);
  box-shadow: inset 0 0 20px 0 rgb(18, 209, 129);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  gap: 20px;
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
}
.description {
  width: 65%;
  font-weight: 400;
}
.text-sub-wrapper {
}

.button-container {
  position: relative;
}

.animated-button {
  position: relative;
  background: none;
  border: 1px solid #1bc67e;
  color: #1bc67e;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: color 0.3s ease;
  & span {
    color: #1bc67e;
    transition: 0.3s ease;
    font-size: 14px;
  }
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1bc67e;
  z-index: 0;
  transition: left 0.3s ease, right 0.3s ease;
}

.animated-button:hover::before {
  left: 0;
  right: 0;
}

.animated-button:hover {
  & * {
    color: #fff;
    isolation: isolate;
  }
}

.animated-button span {
  position: relative;
  z-index: 1;
}
