* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

body {
  height: 100vh !important;
  width: 100% !important;
  overflow: hidden;
}
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  position: relative;
  width: fit-content;
}
.logo::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  bottom: 50%;
  right: -295px;
  width: 200px;
  background-color: white;
  height: 10px;
}
.logo-text {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.bottom-text {
  & p {
    color: white;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: 300;
  }
}
.form-header {
  margin-bottom: 30px;
}

.line-vert {
}
.side-panel-design {
  width: 30% !important;
  height: 100vh;
  padding-left: 20px;
  padding-block: 50px;
  background-image: linear-gradient(to bottom, #03915b, #0f4e34);
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-para {
  font-size: 18px !important;
}
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70% !important;
}
.sign-in-btn {
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  padding-inline: 25px;
  padding-block: 8px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #0f4e34;
}
.sign-in-btn:hover {
  background-color: #03915b;
}

.form {
  width: 50%;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.165);
  animation: form-animate 1s ease-in-out forwards;
  filter: blur(10px);
  transform: translateY(-10px);
  opacity: 0;
}
@keyframes form-animate {
  to {
    filter: blur(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
.form-header h2 {
  color: #03915b;
}
.form-container {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-inline: 10px;
}
.input-container {
  width: 100%;
  & input {
    width: 100%;
    font-size: 12px;
    padding-inline: 17px;
    padding-block: 15px;
    border-radius: 25px;
    border: none !important;
    background-color: rgb(231, 231, 231);
  }
}
.bottom-headline {
  font-weight: 700;
  margin-left: 15px;
  position: relative;
}
.bottom-headline::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  bottom: 50%;
  left: -10px;
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background-color: white;
}

input::placeholder {
  font-size: 12px;
}
input:focus {
  outline: none;
  border: none;
}
.sign-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
