* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header-container
{
  position: fixed;

    width: 100%;
    display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 25px;

}
.logo-container{
    color: white !important;
    & span {
        color:#1bc67e  !important;
    }
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    .list-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
      & li {
        list-style: none;
       & a {
        /* color: white !important ; */
        text-decoration: none;
        font-weight: bolder;
        

       }
       
    }
    }
}
.nav-link{
  color: white;
  transition: .3s ease;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px ;
  transform-origin: center;
  margin-top: 2px;
  background-color: #1bc67e;
  transition: .3s ease;

}
.nav-link:hover::after{
  width: 100%;
}
.nav-link:hover {
  color: #1bc67e !important;
 }
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 8px 21px;
    border: 2px solid #1bc67e;
    border-radius: 5px;
     & a {
      color: white;
      text-decoration: none;

     }
}
.bg-section{
  height: 35vh;
  width: 100%;
display: flex;
align-items: center;
justify-content: center;
  background-image:url(../imgs/Best\ Data\ Labeling\ Tools\ For\ Machine\ Learning\ in\ 2023.jpg) ;
  background-color: #000000bb ;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}
.bg-text{
  width: 75%;
  transform: translateY(50px);
  margin: auto;
  & h2{
    color: white;
    font-size: 32px;
  }
  & p{
    text-transform: capitalize;
    font-size: 16px;
    color: white;
  }
}